{
  "presets": [
    "@babel/preset-env",
    "@babel/preset-react"
  ],
  "targets": {
    "edge": "97",
    "firefox": "90",
    "chrome": "97",
    "safari": "16"
  },
  "plugins": [
    "@babel/plugin-transform-runtime",
    ["transform-imports", {
      "@fortawesome/free-solid-svg-icons": {
        "transform": "@fortawesome/free-solid-svg-icons/${member}",
        "skipDefaultConversion": true,
        "preventFullImport": true
      },
      "@fortawesome/free-brands-svg-icons": {
        "transform": "@fortawesome/free-brands-svg-icons/${member}",
        "skipDefaultConversion": true,
        "preventFullImport": true
      },
      "@fortawesome/free-regular-svg-icons": {
        "transform": "@fortawesome/free-regular-svg-icons/${member}",
        "skipDefaultConversion": true,
        "preventFullImport": true
      }
    }]
  ]
}
