import React from 'react';
import { <%= FaIcon %> as icon } from '@fortawesome/free-<%= FaType %>-svg-icons';
import AntdIcon from "./components/AntdIcon";


const Icon = (props) => <AntdIcon <%= Props %> {...props} icon={icon} />;

export default Icon;
