import React from 'react';
import { <%= FaIcon %> as icon } from '@fortawesome/free-<%= FaType %>-svg-icons';
import AntdIcon from "./components/AntdIcon";


const Icon = (props, ref) => <AntdIcon <%= Props %> {...props} ref={ref} icon={icon} />;

export default React.forwardRef(Icon);
